@keyframes bonusCasInfoChoiceBlink
  0%
    opacity: 1
  50%
    opacity: .25
  100%
    opacity: 1

@keyframes bonusCasInfoTitleIn
  0%
    opacity: 0
    transform: translateX(-20%)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes bonusCasInfoOfferIn
  0%
    opacity: 0
    transform: translateX(20%)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes bonusCardThumbGoldShine
  0%
    background-position: 160% 50%, center
  100%
    background-position: -140% 50%, center
