@font-face
  font-family: 'SupermolotNeue-Regular'
  src: url(../fonts/SupermolotNeue-Regular.woff)


@font-face
  font-family: 'SupermolotNeue-Bold'
  src: url(../fonts/SupermolotNeue-Bold.woff)

@font-face
  font-family: 'SupermolotNeue-CondensedMedium'
  src: url(../fonts/SupermolotNeue-CondensedMedium.woff)


@font-face
  font-family: 'SupermolotNeue-CondensedBoldItalic'
  src: url(../fonts/SupermolotNeue-CondensedBoldItalic.woff)


@font-face
  font-family: 'SupermolotNeue-ExtendedExtraBoldItalic'
  src: url(../fonts/SupermolotNeue-ExtendedExtraBoldItalic.woff)


